.user_modal {
	// max-width: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	h2 {
	  font-family: "Lato";
	  font-style: normal;
	  font-weight: 700;
	  font-size: 28px;
	  text-align: center;
	  color: var(--font-color);
	  transition: color 500ms linear;
	}
	.error {
	  font-family: "Lato", sans-serif;
	  margin-top: -20px;
	  color: red;
	  text-align: left;
	  font-size: 17px;
	}
 }
 