.link {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	// color: #2c2d2e;
	color: var(--font-color);
	transition: color 500ms linear;
	transition: 0.3s;
	margin-left: 40px;
	cursor: pointer;
 }
 .link_active {
	position: relative;
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	transition: 0.3s;
	// color: #4891ff;
	color: var(--font-color);
	transition: color 500ms linear;
	margin-left: 40px;
	cursor: pointer;
 }
 .link_active::before {
	content: "";
	position: absolute;
	width: 100%;
	// height: 1px;
	transition: 0.3s;
	top: 44px;
	// border: 4px solid #4891ff;
	border: 3px solid var(--border-1px-solid);
 }