@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


html {
  box-sizing: border-box;
  font-size: 16px;
}


body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body{
  background: #f0f2f5;
  background-color: var(--background-color);
  transition: background-color 200ms linear;
}

ol, ul {
  list-style: none;
}

a{
  text-decoration: none;
}

.ant-card-body{
  padding: 0 !important;
}


.ant-checkbox-inner{
  width: 20px !important;
  height: 20px !important;
}

.ant-list-item-meta-description{
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px !important;
  color: var(--font-color);
  transition: color 500ms linear;
}

textarea{
  resize: none;
}

::-webkit-scrollbar {
  width: 10px;
}

.ant-input{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
  font-size: 15px;
  line-height: 24px;
  color: #919399;
}

.ant-input::placeholder{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #919399;
}

.ant-message-notice-content{
  margin-top: 120px;
  /* height: 100px; */
}

.ant-message-notice-content > span{
  font-size: 20px !important;
}

.ant-message-custom-content > span {
  font-size: 21px;
  font-family: "Lato" , sans-serif;
  /* color: green; */
}

.ant-btn {
  font-size: 16px;
  height: 38px;
  font-family: "Lato" , sans-serif;
  margin-top: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
}

button,a{
  cursor: pointer;
}

button:hover{
  transform: scale(1.05);
}

button:active{
  transform: scale(.95);
}
